body {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;

}

.ProfileImg {
    width: 140px;
    height: 140px;
    border-radius: 60%;
    box-shadow: 0 0 20px #655e83;
}

img {
    width: 25px;
    border-radius: 60%;
    box-shadow: 0 0 20px #655e83;;
}

h1 {
    background-color: #433d60;
    color: #ffffff;
    border-right: 6px inset #867ea5;
    border-bottom: 6px inset #867ea5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 10px;      
}

h2 {
    background-color: #756e94;
    color: #ffffff;
    border-right: 3px inset #433d60;
    border-bottom: 3px inset #433d60;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 10px;  
}

a:hover{
    font-size: 18px;
}